body {
  text-align: center;
  background-color: rgb(160, 160, 160);
}

main {
  background-color: gainsboro;
  border-radius: 10px;
  min-height: 300px;
}

span {
  display: inline-block;
  cursor: pointer;
}

button {
  width: 100px;
  padding: 5px;
  border-radius: 5px;
  background-color: blue;
  color: white;
}

button:hover {
  cursor: pointer;
}

input {
  width: 66%;
  border-radius: 5px;
  padding: 5px;
}

#conselho {
  display: none;
  font-size: 0.7em;
  opacity: 0.85;
}

.newspaper {
  background-color: antiquewhite;
  font-family: Times New Roman, Times, serif;
  font-weight: 700;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url('images/pink-pattern.png');
  color: fuchsia;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.norotation {
  transform: rotate(0);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}

.noskew {
  transform: skewX(0);
}
